@(curUser: models.User, group: List[models.User])(implicit session: play.api.mvc.Session)

<html>
    <head>
        <title>Welcome to SnP Server Site</title>
    </head>
    <body>
        <h1>Welcome @session.get("User_First_Name")</h1>
        <h1>About Me</h1>
            @showUser(curUser)
        <h1>My Group</h1>
        <a href="@routes.Application.logout">Signout</a>
        <a href="@routes.Application.signUp">Add User</a>
         @if(!group.isEmpty) {
        <table border="1px black">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Company</th>
                <th>Occupation</th>
                <th>Birth Date</th>
            </tr>
            </thead>
            <tbody>
                @group.map { User =>
                <tr>
                    <td>@User.first_name</td>
                    <td>@User.last_name</td>
                    <td>@User.email_address</td>
                    <td>@User.company</td>
                    <td>@User.occupation</td>
                    <td>@User.birth_date</td>
                    <td>
                        <a href='@routes.Application.editUser(User.id)'>Edit</a>
                    </td>
                    <td>
                        @helper.form(action = routes.Application.deleteUser(User.id)){
                            <input type="submit" value="Delete" />
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
        } else {
            <p>List is empty</p>
        }
    </body>
</html>
